<section class="my-4">
  <div class="container">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-success mx-auto d-block mb-4"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
    >
      Add New Note
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="staticBackdrop"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Note</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="addNoteForm" (ngSubmit)="addNote()">
              <div class="mb-3">
                <label for="title" class="form-label fw-semibold"
                  >Title :</label
                >
                <input
                  type="text"
                  formControlName="title"
                  class="form-control"
                  id="title"
                />
              </div>
              <div class="mb-3">
                <label for="content" class="form-label fw-semibold"
                  >Content :</label
                >
                <input
                  type="text"
                  formControlName="content"
                  class="form-control"
                  id="content"
                />
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-success">Add</button>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-4">
      @for (note of userNotes; track $index) {
      <div class="col-md-3">
        <div class="card bg-white shadow-lg h-100">
          <div class="card-body">
            <h5 class="card-title fw-semibold">Title :</h5>
            <p>{{ note.title }}</p>
            <h5 class="card-text fw-semibold">Content :</h5>
            <p>{{ note.content }}</p>
            <p class="card-text text-muted">
              {{ note.createdAt | date }}
            </p>
            <div class="d-flex">
              <button
                (click)="patchvalue(note)"
                data-bs-toggle="modal"
                data-bs-target="#UpdateNote"
                class="btn btn-sm btn-success me-2 px-3 py-1"
              >
                Update
              </button>
              <button
                (click)="deleteNote(note._id)"
                class="btn btn-sm btn-danger px-3 py-1"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
      }

      <div
        class="modal fade"
        id="UpdateNote"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="UpdateNoteLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="UpdateNoteLabel">Update Note</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="updateNoteForm" (ngSubmit)="updateNote()">
                <div class="mb-3">
                  <label for="title" class="form-label fw-semibold"
                    >Title :</label
                  >
                  <input
                    type="text"
                    formControlName="title"
                    class="form-control"
                    id="title"
                  />
                </div>
                <div class="mb-3">
                  <label for="content" class="form-label fw-semibold"
                    >Content :</label
                  >
                  <input
                    type="text"
                    formControlName="content"
                    class="form-control"
                    id="content"
                  />
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-success">Update</button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
